@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Karma&family=Lobster+Two:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Karma', serif;
    width: 100%;
    color: grey

}

/* logo and headings */

h1,
h2 {
    position: relative;
    z-index: 1;
    color: grey;

}

h1 {
    font-family: 'Lobster Two', cursive;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Josefin Slab', serif;
}

p {
    font-family: 'Karma', serif;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 20px
}

#logo h1:hover {
    cursor: pointer;
}

/* navigation links */

#menu {
    font-size: 110%;
    width: 100vw;
    text-align: center;
    position: fixed;
    z-index: 1;
    color: grey;
}

#logo,
#menu {
    line-height: 80px;
    padding-bottom: 10px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 40px;
}

#menu a,
h2 {
    text-decoration: none;
    color: inherit;
}

#menu h2:hover {
    cursor: pointer;
    border-bottom: 2px solid grey
}

.active {
    border-bottom: 2px solid grey
}

/* hero image & text overlay */

#hero-clear {
    height: 1000px;
    width: 100vw;
    overflow: hidden;
}

#hero-image {
    height: 1000px;
    width: 100vw;
    z-index: 1000;
    background: url('../images/kelingking-beach-sunset.jpg') no-repeat center center;

    /* animates zoom out effect on loading page */

    animation-fill-mode: forwards;
    animation-name: hero-zoom-out;
    animation-duration: 5s;
}

#overlay {
    color: white;
    font-size: 120%;

    width: 800px;
    height: 300px;

    bottom: 300px;
    left: 100px;

    position: absolute;

    padding-top: 40px;
    padding-left: 20px;

    background-color: rgba(247, 134, 5, 0.6)
}

/* creates zoom out effect for hero image */

@keyframes hero-zoom-out {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

/* worth knowing section */

#bali-info h1 {
    font-size: 300%;
    color: grey;
    padding: 30px;
}

#bali-info p {
    margin: 20px 50px 20px 50px;
}

#bali-info {
    height: 500px;
    width: 100vw;
}

#worth-knowing {
    text-align: center;
    margin: 20px 5% 20px 5%;
}

#where {
    width: 33%;
    float: left;
}

#when {
    width: 33%;
    float: right;
}

#how {
    width: 33%;
    margin: 0 auto;

}

hr {
    border: 1px solid grey;
    margin: 5px 50px 5px 50px
}

.info-heading {
    text-align: center;
    line-height: 20px;
}

/* footer */

footer {
    height: 100px;
}

footer > ul {
    text-align: center;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: grey;
    cursor: pointer;
}

/* gallery page */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.gallery img {
    width: 90%;
    padding: 10px;
    border: 1px solid grey;
    background: white;
    object-fit: contain;
    position: relative;
}

.gallery img:hover {
    z-index: 9;
    transform: scale(1.5);
    transition: transform ease 0.5s;
}

#photo-gallery {
    width: 70%;
    margin: 0 auto;
    padding-top: 150px;
}
