@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Karma&family=Lobster+Two:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Karma', serif;
    color: grey
}

/* logo and headings */

h1,
h2 {
    position: relative;
    z-index: 1;
    color: white
}

h1 {
    font-family: 'Lobster Two', cursive;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Josefin Slab', serif;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 120%;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1;
    color: white;
}

#logo,
#menu {
    line-height: 100px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 2px solid white;
    border-radius: 5%;
    padding: 2px;
    cursor: pointer;
}

.active {
    border: 2px solid white;
    border-radius: 5%;
    padding: 2px;
}

/* hero image */

#hero-image {
    height: 1200px;
    width: 100vw;
    z-index: 1000;
    background: url('../images/kelingking-beach-sunset.jpg') no-repeat center center;

    /* animates zoom out effect on loading page */

    animation-fill-mode: forwards;
    animation-name: hero-zoom-out;
    animation-duration: 5s;
}

/* creates zoom out effect for hero image */

@keyframes hero-zoom-out {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}